.img-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-wrapper span {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 5rem;
  color: white;
}
.scroll-to-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 999;
  border: 1px solid white;
  color: white;
  background: black;
  transition: background 0.2s ease-in-out;
}
.scroll-to-top-btn:hover {
  background: red;
  cursor: pointer;
}
